// main: ../style.scss
body {
  font-family: 'Gothic A1', sans-serif;
  background: #FFFFFF;
  @include media(s){
    background: #EEEEEE;
  }
}
article {
  position: fixed;
  background: #FAFAFA;
  left: 0; top: 0;
  width: 100vw;
  @include media(s){
    left: calc(50% - 275px); width: 550px;
    top: calc(50% - 200px); height: 400px;
    margin: auto;
    vertical-align: middle;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}
#content-wrap {
  width: 100vw;
  height: 100vh;
}
#article-wrap {
  position: absolute;
  top: 0; left: 0; right: 0;
}

#title {
  display: block;
  margin: 0;
  padding: 0.5rem;
  line-height: 3rem;
  height: 3rem;
  border-bottom: #E0E0E0 2px solid;
  font-size: 1.2rem;
}
#desc {
  line-height: 1.6;
  padding: 0.5rem;
}
#nav {
  position: absolute;
  height: 4rem;
  line-height: 4rem;
  bottom: 0; left: 0; right: 0;
  background: #4DB6AC;
  color: #FFFFFF;
}
